@charset "utf-8";
/* Your styles here */

@import "../plugins/bootstrap-switch/css/bootstrap2/bootstrap-switch.min.css?v=3.3.2";
@import "../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css?v=2.1";
@import "../plugins/bootstrap-slider/css/bootstrap-slider.min.css?v=4.5.0";
@import "../plugins/bootstrap-select/css/bootstrap-select.min.css?v=1.6.5";
@import "../plugins/pl-form/select2/select2.min.css";
@import "../plugins/pl-form/select2/select2-bootstrap.min.css";
@import "../plugins/bootstrap-daterangepicker/css/daterangepicker-bs2.min.css?v=1.3.17";